h1
{
	text-align:center;

}
.address, .contact, .record
{
	text-align: center;
	font-size:25px;
}
.Date
{
	text-align:center;
	font-style:bold;

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

}

#createdby
{
	float:left;
}

#createdat
{
	float: right;
}

#total
{
	font-style:bold;
}
.partyname
{
	font-size:18px;
	font-style:bold;
	text-align:center;
}
#mof
{
	font-style:bold;
	margin-left:270px;
}